.row.row_margin_bottom
  .span3
    %h2 Questions
    .tag
      =link_to @tag, kpi_tag_path(@tag)
  .span9.right_link
    = link_to "New KPI", new_kpi_path


= render :partial => "kpi_list", :locals => { :kpis => @kpis }
= will_paginate @kpis

